html {
	  min-height: 100%;
	  position: relative;
}

body {
	 margin: 0;
	 margin-bottom: 40px;
}


.logConter{
	background-color: #343a40 ;
	display:inline-block;
	width: 30%;
	top: 33.5%;
	margin-bottom: 10%;
	color:white;
	text-align: center;
	border-radius: 10px;
	margin-left:20%;
}

.logConter label{
	display: block;
	padding-top:  10%;
}

#botonLog{
	margin-top: 10%;
	position: relative;
	margin-bottom: 10%;
	right: -20%;
}
.footer {
	position: relative;
    padding-top: 115px;
}

.footer .col-3{
	border: solid 1px;
	border-collapse: collapse;
	bootom: 0px;
}

.footer #center-footer{
	border: none;
	border-top: solid 1px;
	border-bottom: solid 1px;
	border-collapse: collapse;
	background-color: #343a40;
	color:white;
	border-color: #343a40; 

}

#Divisor{
	text-align:center;
	display: block;
	margin-top:10px;
	background-color:#343a40;
	color:white;
	border-radius:10px;

}

.nuevoUsuario{
	background-color: white ;
	display:inline-block;
	width: 30%;
	top: 33.5%;
	margin-bottom: 10%;
	text-align: center;
	border:solid 1px;
	border-radius: 10px;
	margin-left:5%;
}

.nuevoUsuario label{
	display: block;
	padding-top:  10%;
}

#Etiqueta{
	position: absolute;
    font-weight: bold;
    color: white;
    background-color: #343a40;
    width: 100%;
    bottom: 22px;
}

.Esquina{
	position: absolute;
	    right: 10%;
}


#Desplegado{
	border: solid 1px;
	border-radius:10px;
	margin-top:10%;
	display:inline-block;
	margin-bottom:10%;
}

<<<<<<< HEAD
}

#banner{
	width: 30%;
	height: 100%;
}
=======
.textoCentrado{
	padding-top: 35%;
	padding-bottom: 35%;
}
>>>>>>> 9eba010c6f5b442604c6979b6a9979180843e384
